# Xcode User Settings
xcuserdata/
xcshareddata/
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Xcode Build Artifacts
DerivedData/
.idea/
xcdebugger/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
*.lock
*.xcworkspace/

# Carthage
Carthage/Checkouts
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Firebase & GoogleServices
GoogleService-Info.plist
Firebase/

# Xcode Test Results
*.xcresult

# SwiftPM Xcode Integration
*.xcodeproj/project.xcworkspace/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# App Packaging
*.ipa
*.dSYM.zip
*.dSYM

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*